*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  'Poppins', sans-serif;
}
.cabeçalho {
    background-color: rgb(72, 72, 182);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.cabeçalho-imagem{
    width: 25%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}
    
.escola{
    background-image: linear-gradient(rgb(72, 72, 182),rgb(153, 149, 216));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.escola-div-conteúdo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 200px;
}
.estudante-icone{
    width: 35px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%
}